* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: lightcyan;
  padding-top: 30px;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  max-width: 600px;
}
